/* 
    =================================
              Basic Styling
    =================================
*/

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    background-color: #ffffff;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;

    outline: none;
}

.btn{
    display: inline-block;

    color: #ffffff;
    text-transform: uppercase;

    box-sizing: border-box;
}

hr{
    opacity: 0.4;
}

/*                Catalog.html page             */

/* 
    =============================================
              Header Navigation Styling
    =============================================
*/

.main-header{
    background-color: #eeeeee;
}

.main-header .container{
    padding-top: 45px;
}

.main-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-navigation a{
    position: relative;

    color: #000000;
    text-transform: uppercase;
    line-height: 30px;

    outline: none;
}

.site-navigation{
    display: flex;
    justify-content: space-between;

    width: 440px;
}

.user-navigation{
    width: 120px;
}

.site-navigation a,
.user-navigation a{
    padding: 10px 0;
}

.user-navigation a{
    padding-left: 32px;
}

.user-navigation a::before{
    content: '';

    position: absolute;
    left: 0;
    top: 12px;

    width: 20px;
    height: 20px;

    background-image: url(../img/cart-icon.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.nav-active::after{
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    height: 2px;

    background-color: #fb565a;
}

.site-navigation a:hover,
.user-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:focus{
    color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active{
    color: #a6a6a6;
}

.header-logo:hover,
.header-logo:focus{
    opacity: 0.8;
}

.header-logo:active{
    opacity: 0.3;
}

/* 
    =========================================
              Header Slider Styling
    =========================================
*/

.main-slider{
    position: relative;

    width: 1200px;
}

.main-slider input[type="radio"]{
    display: none;
}

.main-slider .slider-controls{
    position: absolute;
    bottom: 110px;
    left: 49%;

    height: 10px;
    width: 198px;
    transform: translateX(-50%);
    
    text-align: center;
    
    z-index: 10;
}

.slider-controls label{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 3px;

    background-color: #fff;

    border-radius: 50%;

    vertical-align: top;

    cursor: pointer;
}

.slider-controls label::before{
    content: '';

    position: absolute;
    top: 4px;
    left: 4px;

    width: 8px;
    height: 8px;

    border: 2px solid #ffffff;
    border-radius: 50%;
}

.btn-1:checked ~ .slider-controls label[for="btn-1"]::before,
.btn-2:checked ~ .slider-controls label[for="btn-2"]::before,
.btn-3:checked ~ .slider-controls label[for="btn-3"]::before { 
    border-color: #c1c1c1;
}

.slider-slide{
    position: relative;
    top: 0;
    left: 0;

    display: none;
    
    width: 100%;
    min-height: 430px;

    overflow: hidden;
}

.slider-slide-heading{
    margin-top: 80px;
    margin-bottom: 25px;

    font-size: 55px;
    line-height: 55px;
}

.slider-slide-sub-heading{
    margin-bottom: 45px;

    font-weight: 400;
}

.slider-slide-btn{
    width: 240px;
    padding: 13px 50px;
    margin-bottom: 80px;

    text-align: center;

    border-radius: 3px;

    outline: none;

    background-color: #fb565a;
}

.slider-slide-btn:hover,
.slider-slide-btn:focus{
    background-color: #e74246;
}

.slider-slide-btn:active{
    color: #e37376;

    background: #d7373b;
    box-shadow: 0 2px #9b2d30 inset;
}

.slider-slide-first{
    background-image: url(../img/slide1.png);
    background-position: 87% 100%;
    background-repeat: no-repeat;
}

.slider-slide-second{
    background-image: url(../img/slide2.png);
    background-position: 94% 100%;
    background-repeat: no-repeat;
}

.slider-slide-third{
    background-image: url(../img/slide3.png);
    background-position: 92% 100%;
    background-repeat: no-repeat;
}

.btn-1:checked ~ .slider-slides .slider-slide:nth-child(1){ 
    display: block;
}

  .btn-2:checked ~ .slider-slides .slider-slide:nth-child(2){ 
    display: block;
}

  .btn-3:checked ~ .slider-slides .slider-slide:nth-child(3){ 
    display: block;
}  

/* 
    ==================================================
              Main Section-Services Styling
    ==================================================
*/

.services{
    margin-top: 80px;
    margin-bottom: 80px; 
}

.services-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services li{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 300px;
}

.services-list h3{
    margin-top: 23px;
    margin-bottom: 23px;

    order: 2;

    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.services-list p{
    margin-bottom: 32px;

    order: 3;

    font-weight: 400;
}

.services-list img{
    order: 1;
}

.services-btn-1,
.services-btn-2,
.services-btn-3{
    width: 160px;
    min-height: 50px;
    padding: 16px 40px;

    line-height: 18px;
    text-align: center;

    border-radius: 3px;

    order: 4;
}

.services-btn-1{
    background-color: #fb565a;
}

.services-btn-1:hover,
.services-btn-1:focus{
    background-color: #e74246;
}

.services-btn-1:active{
    background-color: #d7373b;
    box-shadow: 0 2px #9b2d30 inset;

    color: #e37376;
}

.services-btn-2{
    background-color: #00ca74;
}

.services-btn-2:hover,
.services-btn-2:focus{
    background-color: #00bc6c;
}

.services-btn-2:active{
    background-color: #00aa62;
    box-shadow: 0 2px #009958 inset;

    color: #4dc491;
}

.services-btn-3{
    background-color: #efc84a;
}

.services-btn-3:hover,
.services-btn-3:focus{
    background-color: #eab534;
}

.services-btn-3:active{
    background-color: #e5a722;
    box-shadow: 0 2px #ce961f inset;

    color: #edc265;
}

/* 
    ==================================================
              Main Section-About-Us Styling
    ==================================================
*/

.about-us .columns{
    display: flex;
    justify-content: space-between;

    margin-bottom: 75px;
}

.column-1 h3{
    margin-top: 40px;

    font-size: 45px;
    line-height: 45px;
}

.column-1 p{
    margin-top: 35px;

    font-weight: 400;
}

.column-1 b{
    display: inline-block;
    margin-top: 45px;

    text-transform: uppercase;
}

.column-1 ul{
    margin-top: 35px;
}

.column-1 li{
    position: relative;

    margin-top: 30px;
    padding-left: 37px;

    font-weight: 400;
}

.column-1 li::before{
    content: '';

    position: absolute;
    left: 1px;
    top: 12px;
    transform: translateY(-50%);

    height: 2px;
    width: 25px;

    background-color: #fb565a;
}

.column-2 img{
    margin-top: 40px;
}

.column-2 b{
    display: block;
    margin-top: 40px;

    text-transform: uppercase;
    text-align: center;
}

.column-2 table{
    width: 360px;
    margin-top: 50px;
}

table tr{
    display: flex;
    justify-content: space-between;
}

table td{
    font-size: 45px;

    text-align: center;
}

table th{
    margin-top: 25px;

    font-weight: 400;
    line-height: 18px;

    text-align: left;
}

/* 
    =================================================
              Main Section-Partners Styling
    =================================================
*/

.partners-list{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 45px;
    margin-bottom: 45px;
}

.partners-list li:nth-child(2n+1){
    opacity: 0.2;
}

.partners-list li:nth-child(2n+1):hover,
.partners-list li:focus{
    opacity: 1;
}

.partners-list li:nth-child(2n+1):active{
    opacity: 0.1;
}

/* 
    ==============================================
              Footer Section-Map Styling
    ==============================================
*/

.main-footer{
    margin-top: 80px;
}

.footer-map{
    position: relative;

    width: 100%;
}

.map{
    width: 100%;
    height: 100%;

    z-index: 1;
}

.map-marker{
    position: absolute;
    top: 23%;
    left: 57%;
    
    z-index: 2;
}

.adress-container{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);

    width: 320px;
    height: 310px;
    padding: 50px;

    background-color: #ffffff;

    z-index: 5;

    box-sizing: border-box;
}

.adress-container h3{
    margin-bottom: 30px;

    font-size: 18px;
    line-height: 30px;
    font-weight: 700;

    text-transform: uppercase;
    text-align: left;
}

.adress-container address,
.adress-container p{
    font: inherit;
    line-height: 18px;
    font-weight: 400;
}

.adress-container address{
    margin-bottom: 20px;
}

.adress-container p{
    margin-bottom: 40px;
}

.write-us-btn{
    width: 220px;
    padding: 13px 45px;

    text-align: center;

    background-color: #fb565a;

    border-radius: 3px;

    box-sizing: border-box;
}

.write-us-btn:hover,
.write-us-btn:focus{
    background-color: #e74246;
}

.write-us-btn:active{
    background-color: #d7373b;
    box-shadow: 0 2px #9b2d30 inset;

    color: #e37376;
}

iframe{
    position: absolute;
    top: 0;
    left: 0;

    z-index: 4;
}

/* 
    ==================================================
              Footer Section-Social Styling
    ==================================================
*/

.main-footer .footer-social{
    margin: 70px 0 70px 10%;

    display: flex;
}

.social-networks .social-networks-list{
    display: flex;
    justify-content: space-between;

    width: 265px;

    font-size: 0;
}

.social-networks-list a{
    position: relative;

    display: block;

    width: 80px;
    height: 80px;

    border-radius: 50%;

    background-color: #e1e1e1;
}

.social-networks-list svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.social-networks-list a:hover,
.social-networks-list a:focus{
    background-color: #e74246;
}

.social-networks-list a:active,
.social-networks-list a:active path{
    background-color: #d7373b;

    fill: #e37376;

    box-shadow: 0 2px 0 #c13135 inset;
}

.footer-social .discount{
    margin-left: 140px;
}

.discount b{
    display: block;
    margin-bottom: 15px;

    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}

.discount p{
    line-height: 22px;
    font-weight: 400;
}

/* 
    =========================================
              Section-Modal Styling
    =========================================
*/

.modal-write-us{
    position: fixed;
    left: 50%;
    bottom: 100px;

    display: none;

    width: 960px;
    min-height: 590px;
    padding: 60px 100px 85px 100px;
    margin-left: -480px;

    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);

    box-sizing: border-box;

    background-color: #fff;

    z-index: 100;
}
/* Javascript classes for index.html BEGIN*/
.modal-show{
    display: block;

    animation: appear 1s ease-in;
}

@keyframes appear{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0.1;
    }
    20%{
        opacity: 0.2;
    }
    30%{
        opacity: 0.3;
    }
    40%{
        opacity: 0.4;
    }
    50%{
        opacity: 0.5;
    }
    60%{
        opacity: 0.6;
    }
    70%{
        opacity: 0.7;
    }
    80%{
        opacity: 0.8;
    }
    90%{
        opacity: 0.9;
    }
    100%{
        opacity: 1;
    }
}
/* Javascript classes for index.html END*/

.modal-write-us h2{
    margin-bottom: 40px;

    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
}

.modal-form label{
    display: block;
    margin-bottom: 10px;

    font-weight: 700;
}

.modal-form input{
    width: 360px;
    height: 50px;
    padding: 12px;

    font-weight: 400;
}

.modal-form input:hover,
.modal-form textarea:hover{
    border-color: #b4b9bb;
}

.modal-form input:focus,
.modal-form textarea:focus{
    border-color: #000000;
}

.modal-form input:invalid{
    border-color: #e74246;
    color: #e74246;
}

.modal-form .form-name-log{
    display: flex;
    justify-content: space-between;

    margin-bottom: 20px;
}

.modal-form input,
.modal-form textarea{
    border: 2px solid #d7dcde;
    border-radius: 5px;

    background-color: transparent;

    box-sizing: border-box;

    outline: none;
}

.modal-form textarea{
    width: 100%;
    height: 120px;
    padding: 12px;
    margin-bottom: 45px;

    resize: none;
}

.modal-form .submit{
    width: 260px;
    min-height: 50px;
    
    background-color: #fb565a;

    border: none;
    border-radius: 3px;

    cursor: pointer;

    outline: none;
}

.modal-form .submit:hover,
.modal-form .submit:focus{
    background-color: #e74246;
}

.modal-form .submit:active{
    background-color: #d7373b;
    box-shadow: 0 2px #9b2d30 inset;

    color: #e37376;
}

.modal-close{
    position: absolute;
    right: 9%;
    top: 12%;

    width: 25px;
    height: 25px;

    background: transparent;

    opacity: 0.3;

    border: none;
    outline: none;

    font-size: 0;

    cursor: pointer;
}

.modal-close::before,
.modal-close::after{
    content: '';

    position: absolute;
    top: 11px;
    left: 1.5px;

    width: 22px;
    height: 2px;

    background-color: #fb565a;
}

.modal-close::before{
    transform: rotate(45deg);
}

.modal-close::after{
    transform: rotate(-45deg);
}

.modal-close:hover,
.modal-close:focus{
    opacity: 1;
}

.modal-close:active{
    opacity: 0.1;
}

/*             Catalog.html page           */

/* 
    ======================================
                Header Styling
    ======================================
*/
.catalog-page .main-header{
    padding-bottom: 100px;
}

.catalog-page .main-header h2{
    margin-top: 60px;

    font-size: 55px;
    line-height: 55px;
    text-align: center;
}