/* 
    =================================
              Basic Styling
    =================================
*/

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    background-color: #ffffff;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.btn{
    display: inline-block;

    color: #ffffff;
    text-transform: uppercase;

    box-sizing: border-box;
}

hr{
    opacity: 0.4;
}

/* 
    =============================================
              Header Navigation Styling
    =============================================
*/

.main-header{
    background-color: #eeeeee;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.main-header .container{
    padding-top: 45px;
}

.main-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-navigation a{
    position: relative;

    color: #000000;
    text-transform: uppercase;
    line-height: 30px;

    outline: none;
}

.site-navigation{
    display: flex;
    justify-content: space-between;

    width: 440px;
}

.user-navigation{
    width: 120px;
}

.site-navigation a,
.user-navigation a{
    padding: 10px 0;
}

.user-navigation a{
    padding-left: 32px;
}

.user-navigation a::before{
    content: '';

    position: absolute;
    left: 0;
    top: 12px;

    width: 20px;
    height: 20px;

    background-image: url(../img/cart-icon.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.nav-active::after{
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    height: 2px;

    background-color: #fb565a;
}

.site-navigation a:hover,
.user-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:focus{
    color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active{
    color: #a6a6a6;
}

.header-logo:hover,
.header-logo:focus{
    opacity: 0.8;
}

.header-logo:active{
    opacity: 0.3;
}

/* 
    =========================================
              Header Slider Styling
    =========================================
*/

.main-slider{
    position: relative;

    width: 1200px;
}

.main-slider input[type="radio"]{
    display: none;
}

.main-slider .slider-controls{
    position: absolute;
    bottom: 110px;
    left: 49%;

    height: 10px;
    width: 198px;
    transform: translateX(-50%);
    
    text-align: center;
    
    z-index: 10;
}

.slider-controls label{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 3px;

    background-color: #fff;

    border-radius: 50%;

    vertical-align: top;

    cursor: pointer;
}

.slider-controls label::before{
    content: '';

    position: absolute;
    top: 4px;
    left: 4px;

    width: 8px;
    height: 8px;

    border: 2px solid #ffffff;
    border-radius: 50%;
}

.btn-1:checked ~ .slider-controls label[for="btn-1"]::before,
.btn-2:checked ~ .slider-controls label[for="btn-2"]::before,
.btn-3:checked ~ .slider-controls label[for="btn-3"]::before { 
    border-color: #c1c1c1;
}

.slider-slide{
    position: relative;
    top: 0;
    left: 0;

    display: none;
    
    width: 100%;
    min-height: 430px;

    overflow: hidden;
}

.slider-slide-heading{
    margin-top: 80px;
    margin-bottom: 25px;

    font-size: 55px;
    line-height: 55px;
}

.slider-slide-sub-heading{
    margin-bottom: 45px;

    font-weight: 400;
}

.slider-slide-btn{
    width: 240px;
    padding: 13px 50px;
    margin-bottom: 80px;

    text-align: center;

    border-radius: 3px;

    outline: none;

    background-color: #fb565a;
}

.slider-slide-btn:hover,
.slider-slide-btn:focus{
    background-color: #e74246;
}

.slider-slide-btn:active{
    color: #e37376;

    background: #d7373b;
    box-shadow: 0 2px #9b2d30 inset;
}

.slider-slide-first{
    background-image: url(../img/slide1.png);
    background-position: 87% 100%;
    background-repeat: no-repeat;
}

.slider-slide-second{
    background-image: url(../img/slide2.png);
    background-position: 94% 100%;
    background-repeat: no-repeat;
}

.slider-slide-third{
    background-image: url(../img/slide3.png);
    background-position: 92% 100%;
    background-repeat: no-repeat;
}

.btn-1:checked ~ .slider-slides .slider-slide:nth-child(1){ 
    display: block;
}

  .btn-2:checked ~ .slider-slides .slider-slide:nth-child(2){ 
    display: block;
}

  .btn-3:checked ~ .slider-slides .slider-slide:nth-child(3){ 
    display: block;
}  

/* 
    ==================================================
              Main Section-Services Styling
    ==================================================
*/

.services{
    margin-top: 80px;
    margin-bottom: 80px; 
}

.services-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services li{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 300px;
}

.services-list h3{
    margin-top: 23px;
    margin-bottom: 23px;

    order: 2;

    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.services-list p{
    margin-bottom: 32px;

    order: 3;

    font-weight: 400;
}

.services-list img{
    order: 1;
}

.services-btn-1,
.services-btn-2,
.services-btn-3{
    width: 160px;
    min-height: 50px;
    padding: 16px 40px;

    line-height: 18px;
    text-align: center;

    border-radius: 3px;

    order: 4;
}

.services-btn-1{
    background-color: #fb565a;
}

.services-btn-1:hover,
.services-btn-1:focus{
    background-color: #e74246;
}

.services-btn-1:active{
    background-color: #d7373b;
    box-shadow: 0 2px #9b2d30 inset;

    color: #e37376;
}

.services-btn-2{
    background-color: #00ca74;
}

.services-btn-2:hover,
.services-btn-2:focus{
    background-color: #00bc6c;
}

.services-btn-2:active{
    background-color: #00aa62;
    box-shadow: 0 2px #009958 inset;

    color: #4dc491;
}

.services-btn-3{
    background-color: #efc84a;
}

.services-btn-3:hover,
.services-btn-3:focus{
    background-color: #eab534;
}

.services-btn-3:active{
    background-color: #e5a722;
    box-shadow: 0 2px #ce961f inset;

    color: #edc265;
}